/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "XanhMono-Regular";

  src: url("./fonts/XanhMono-Regular.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}